@import '/src/app/shared/common';

.header {
  height: 79px;
  width: 100%;
  padding: calcRem(24);
}

.logo-container {
  height: 32px;
  width: 114px;
  position: relative;
  overflow: hidden;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}


